//Categories.scss

.categories {
  text-align: center;
  margin-bottom: 30px;

  label {
    margin-right: 10px;
  }

  select {
    margin-right: 10px;
    padding: 9.5px;
    width: 20%;
    border-radius: 5px;
    border: 2px solid $secondaryColour;
    cursor: pointer;
  }
}
