//Typography.scss

html {
  font-size: 125%;
}

body {
  font-size: 0.8rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  line-height: 45px;
  text-align: center;
}

h2 {
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 35px;

  .hightlight {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 10%,
      $lightBlue 90%
    );
  }
}

h3 {
  letter-spacing: 0.5px;
  line-height: 25px;
  font-weight: 400;
}

.eventName {
  display: inline;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    $lightBlue 95%
  );
}

.landingPageMessage {
  text-align: center;
  margin: 50px 0;
}

p {
  letter-spacing: 0.3px;
  line-height: 25px;
}
