//Variables.scss

//colours
$primaryColour: #2b2d42;
$secondaryColour: #00b4d8;
$accentColour: #0077b6;
$lightBlue: #caf0f8;
$btnHover: #48cae4;
$white: #fff;
$grey: #495057;
$backgroundColour: #fef9ff;
